streamlit
pandas
matplotlib
seaborn
prince
reportlab
numpy
scikit-learn
openai>=1.0.0
streamlit-gsheets
gspread
streamlit==1.37.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
streamlit-gsheets==0.1.0
gspread==6.0.2
openai==1.51.0
reportlab==4.2.2
